<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <title>FestPizza - Instagram</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- css -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/app.css">

  <!-- script -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- slider -->
  <script src="//cdn.jsdelivr.net/bxslider/4.1.1/jquery.bxslider.min.js"></script>

  <script type="text/javascript">
    var socket = io.connect('http://festpizza.herokuapp.com');
    var slider = "";
    
    socket.on('firstShow', function (data) {
      addImages(data);
      startSlide();
    });

    function startSlide() {
      this.slider = $('#images').bxSlider({
        mode: 'fade',
        auto: true,
        pause: 7000,
        speed: 0,
        controls: false,
        pager: false,
        onSlideNext: function(next) {
          if ($("#" + $(next[0]).attr("id")).length <= 0) {
            slider.reloadSlider();
            console.log("restart")
          }
        }
      });
    }

    function addImages(data) {
      $.each(data.firstShow, function(i, image) {
        $('#images').append('<li id="' + image.id + '"><img src="' + image.images.standard_resolution.url + '" width="640" /><div class="user"><img src="' + image.user.profile_picture + '" /><h1>@' + image.user.username + '</h1></div></li>'
        );
        if (image.caption) {
          $('#images #' + image.id + ' .user').append('<p class="caption">' + image.caption.text + '</p>')
        }
      });
    }

    socket.on('show', function(data) {
      var url = data.show;
      $.ajax({
        url: url,
        type: 'POST',
        crossDomain: true,
        dataType: 'jsonp'
      }).done(function (data) {
        var image = data.data[1];
        console.log(image)

        $('#images').prepend('<li id="' + image.id + '" style="display:none;"><img src="' + image.images.standard_resolution.url + '" /><div class="user"><img src="' + image.user.profile_picture + '" /><h1>@' + image.user.username + '</h1></div></li>'
        );
        if (image.caption) {
          if($('#images #' + image.id).find('.caption').length <= 0)
            $('#images #' + image.id + ' .user').append('<p class="caption">' + image.caption.text + '</p>')
        }

        last = $('#images li:first-child');
        lastSrc = $('#images li:first-child').find('img').attr('src');
        nextSrc = $('#images li:nth-child(2)').find('img').attr('src');

        if( lastSrc === nextSrc ) {
          last.remove();
        } else {
          $('#images li:last-child').remove();
        }
      });
    });
  </script>

</head>
<body>
  <div id="slider">
    <span class="header"></span>
    <ul id="images"></ul>
  </div>
</body>
</html>